<div class="item">
   <div>Nome Completo</div>
   <div class="input">
      <input type="text"
      name="name" placeholder="Por favor digite seu Nome Completo"
      value="{{user.name}}">
   </div>
</div> 


<div class="item">
   <div>Email</div>
      <div class="input">
         <input type="email"
         name="email" placeholder="Por favor seu email aqui"
         value="{{user.email}}"
         onblur="Validate.apply(this, 'isEmail')">
      </div>
</div> 

<div class="item">
   <div>Senha</div>
      <div class="input">
         <input type="password" 
            name="password" 
            {% if not user.id %}
               placeholder="Escolha uma senha"
            {% else%}
               placeholder="Digite sua nova senha para atualizar"
            {% endif%}
         
         value="{{user.password}}">
      </div>
</div> 

{% if not user.id %}
      <div class="item">
         <div>Repetir Senha</div>
            <div class="input">
               <input type="password"
               name="passwordRepeat" placeholder="Repita a senha escolhida"
              value="{{user.passwordRepeat}}">
            </div>
      </div>   
{% endif %}

<div class="item">
   <div>CPf ou CNPJ</div>
      <div class="input">
         <input type="text" 
         name="cpf_cnpj" placeholder="Por favor CPF ou CNPJ"
         value="{{user.cpf_cnpj}}"
         onkeydown="Mask.apply(this,'cpfCnpj')"
         onblur="Validate.apply(this, 'isCpfCnpj')">
      </div>

</div> 

<div class="item">
   <div>CEP</div>
      <div class="input">
         <input type="text" 
         name="cep" placeholder="Cep :99999-999"
         value="{{user.cep}}"
         onkeydown="Mask.apply(this,'cep')"
         onblur="Validate.apply(this, 'isCep')">
      </div>

</div> 
<div class="item">
   <div>Endereco Completo</div>
      <div class="input">
         <input type="text" 
         name="addres" placeholder="Por favor digite seu Endereco"
         value="{{user.addres}}">
      </div>

</div> 


