

:root{
   --primary-color: #fd951f;
   --secondary-color: #1ffdba;
}

*{ margin: 0;
   padding: 0;
   text-decoration: none;
   list-style-type: none;
   box-sizing: border-box;
}
html,body{
   min-height: 100%;
}
body{
   font-family: 'Segoe UI';
   background-color:rgb(239, 241, 247);

}
.button{
   background-color: var(--primary-color);
   color: white;
   display: block;
   margin: 16px 0;
   padding: 12px 16px;
   font-weight:700;
   letter-spacing: 4px;
   margin: auto;

   width: 40%;
   border-radius: 8px;

   /*para colocar o botao para baixo*/
   align-self: end;
   text-transform: uppercase;
   font-size: 20px;
   text-align: center;
   cursor: pointer;
   transition: all .2s;
   border: none;
   margin-top: 14px;

}
.button:hover{
   background-color: #fd8a1f;
}
.container{
   max-width: 90%;
   margin: 0 auto;
}
header,footer{
   background-color: black;
   color: white;

   text-align: center;

   width: 100%;
   padding: 32px ;
}
header div.container{
   display: grid;
   grid-template-columns:220px auto 280px ;
   align-items: center;
   column-gap: 24px;
}
header div.container a {
   justify-self: start 
}
.logo h1{
   color: white;
   font-size: 36px;
   line-height: 46px;
}
.logo h2{
   color: var(--primary-color);
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 2px;
}

.search input{
   width: 100%;
   padding: 8px 16px;
   border-radius: 2px;
   font-size: 16px;
}
nav.primary ul{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
nav.primary ul li a{
   display: flex;
   justify-content: space-between;
   color: white;

   align-items: center ; 
}
nav.primary ul li a i{
   margin-right: 8px;
}
nav.primary ul li a:hover{
   color: var(--primary-color);
}
section.container-form{
   width: 500px;
   background-color: white;
   padding: 32px 24px;
   margin: 32px auto;
   box-shadow: 2px 2px 12px rgba(60, 60, 60, .4);
   border: 1px solid #efefef;
   border-radius: 12px;
}
section.container-form h3{
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.7px;
   text-transform: uppercase;

   font-weight: bold;
   color: var(--primary-color);
   margin-bottom: 16px;
}
.container-form  .fields {
   margin-bottom: 64px;
}
.container-form .item{
   margin-bottom: 16px;
}
.container-form .item >div:nth-child(1){
   color: #777;
   text-transform: uppercase;
   font-size: 14px;
   font-weight: bold;
   margin-bottom: 8px;
}
.container-form .item input[type="text"],
.container-form  .item input[type="number"],
.container-form  .item textarea,
.container-form  item select{
   width: 100%;
   padding: 8px 16px;
   box-shadow:  2px 1px 1px -.3px rgba(60, 60, 60, .4);
   border: 1px solid rgba(60, 60, 60, .2);
   border-radius: 8px;
}
.container-form  .item select{
  
   border-radius: 8px;
   height: 40px ;
   width:100%;
   padding-left: 24px;

   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
   
   border: 1px solid rgba(60, 60, 60, .2);
   background-image:url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom,#ffffff 0%, #e5e5e5 100%);
   background-repeat: no-repeat;
   background-position: right 1em top 50%, 0 0;
   background-size: .65em auto,100%;

}
.container-form  .item textarea{
    min-height: 150px;
}
.container-form  .item span {
   padding: 8px 16px;
   background-color: var(--primary-color);
   border-radius: 16px;
   color: #777;
   margin-right: 4px;
   margin-top: 8px;
   display: inline-block;
   font-weight: bold;
   text-transform: uppercase;
   font-size: 12px;
}
.container-form  .item span input{
   margin-right: 4px; margin-left: -4px;
}
#Delete:hover{ color: red; font-size: 32px;}
#Update:hover{color: rgb(7, 184, 7); font-size: 32px;}

/*-->PHOTOS UPLOAD<--*/
#photos-upload {
   position: relative;
   display: block;
   overflow: hidden;
   width: 200px;
}
#photos-upload  p{
      padding: 8px 16px;
      border-radius: 4px;
      box-shadow:  0 2px 2px -6px #333;
      background-color:var(--primary-color) ;
      color: white;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 24px;
}
#photos-input {
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   overflow: hidden;
   width: 100%;
   height: 100%;
   opacity: 0;
   cursor: pointer; 
   

}
#photos-preview{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-row-gap: 8px;
   width: 100%;
   margin: auto;
  
}
 #photos-preview img {
   width: 140px;
   height: 150px;
   object-fit: cover;
}
 #photos-preview .photo{
   position: relative;
}
#photos-preview  .photo i {
   position: absolute;
   top: 0;
   left: 0;
   background: rgba(255,255,255,0.6);
   color: red;
   width: 50%;
   height: 100%;
   display: flex;
   font-size: 500%;
   cursor: pointer;
   opacity: 0;
   transition: opacity 200ms;
   
}
 #photos-preview  .photo i:hover {
   opacity: 1;}


   /*--> LIGHTBOX GALLERY <--*/
   .separation{
      display: grid;
      grid-template-columns: 3fr 1fr;
     padding: 24px;
     gap: 24px;
   }
  
   .lightbox-target img{
      max-width: 60vw;
      min-width: 25vw;
      max-height: auto;
   }
   .gallery-preview img{
      display: grid;
      gap: 12px;
      max-width: 95vw;
      max-height: 10vh;
   }

   .info{
      align-items: center;
      padding:120px 20px 40px 20px ;
      background-color: white;
      
      height: 92%;
      width: 250px;
      border: solid gray 1px 4px ;
   }
   .info div{
      margin-top: 16px;
   }
   .published{
      color: #333;
      letter-spacing: 1px;
   }
   .info .description{
      font-size: 18px;
   }

   /*--> SHOP <--*/
 .items{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;

   flex-direction: column;
   justify-content: bottom;
}
 .items .product{

   margin-top: 24px;
   padding: 8px;
   max-width: 250px;
   max-height: 500px;
}
 .items .product .image{
   margin-left: 4px;
   max-width: 250px;
   min-height: 340px;
}
 .items .product .image img{
   margin-left: 4px;
   max-width: 95%;
}

 .items .product .old-price{
   width: 95%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-left: -40px;
   color: red;
  text-decoration: line-through;
}

 .items .product .pro-des p {
   width: 95%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   font-size: 24px;
   
}

 .items .product .pro-des  h4{
   width: 95%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   text-transform: uppercase;
   color: #9999;
   
}

 .items .product a{
   padding: 4px;
   width: 95%;
   
}

/*--> SEARCH<--*/
.search-products{
   display: grid;
   grid-template-columns: 200px 1fr;
   margin-top: 48px;
   background-color: white;
}
.searched{
   gap: 12px;
}
.search-products .header{
   margin-bottom: 48px;
   font-size: 14px;
   color: #333;
}
.search-products .header h2{
   font-size: 26px;
   text-transform: capitalize;
   margin-bottom: 8px;
}
.search-products nav h4{
   margin-bottom: 16px;
   color: #333;
   font-size: 14px;
   text-transform: uppercase;
}
.search-products nav ul li{
   margin: 4px 0;
}
.search-products nav ul a{
   color: #777;
}
.search-products nav ul a:hover{
   color: black;
   font-style: bold;
}
.search-products .product{
   border:solid grey 0.4px;
}
/*==>   USERS FORM <==*/

.item .input input{
   width: 100%;
   padding: 8px 16px;
   box-shadow:  2px 1px 1px -.3px rgba(60, 60, 60, .4);
   border: 1px solid rgba(60, 60, 60, .2);
   border-radius: 8px;
   

}
.item div:nth-child(1){
   margin-left: 16px;
   margin-top: 12px;
   margin-bottom: 2px;
   color: rgb(117, 117, 117);
   font-weight: 600;
   font-family:'Segoe UI';
  
}

.user-register{
   margin-top: 24px;
   margin-bottom: 24px;
   padding: 24px;
   max-width: 500px;
   background-color: rgb(250, 251, 251);
   box-shadow: 0.4px 0.4px 12px  rgba(60, 60, 60, .4);
   border-radius: 12px;
}
/*VALIDATE ERROR*/
.input .error{
   color: rgba(250, 14, 14, 0.8);
   margin-left: 14px;
   font-style: italic;
}